# Topics: Dated 28 Mar 2023
* List comprehensive
* Tuple
* Set
* Dictionary

In [1]:
range(11)

range(0, 11)

In [43]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11):
    print("iteration no",i)

iteration no 1
iteration no 2
iteration no 3
iteration no 4
iteration no 5
iteration no 6
iteration no 7
iteration no 8
iteration no 9
iteration no 10

In [6]:
for i in range(1,11):
    print("iteration no")

iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no

In [10]:
for i in range(1,11):
    print("iteration no:",i)

iteration no: 1
iteration no: 2
iteration no: 3
iteration no: 4
iteration no: 5
iteration no: 6
iteration no: 7
iteration no: 8
iteration no: 9
iteration no: 10

In [15]:
for i in range(1,11):
    print(f"{2} X {i} = {2*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [20]:
table = int(input("Enter number for table generation:"))

for i in range(1,11):
    print(f"{table} X {i} = {table*i}")

Enter number for table generation:7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [21]:
[print("iteration no",i) for i in range(1,11)]

iteration no 1
iteration no 2
iteration no 3
iteration no 4
iteration no 5
iteration no 6
iteration no 7
iteration no 8
iteration no 9
iteration no 10

[None, None, None, None, None, None, None, None, None, None]

In [23]:
[f"iteration no {i}" for i in range(1,11)]

['iteration no 1',
 'iteration no 2',
 'iteration no 3',
 'iteration no 4',
 'iteration no 5',
 'iteration no 6',
 'iteration no 7',
 'iteration no 8',
 'iteration no 9',
 'iteration no 10']

In [24]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
[i+5//2 for i in range(1,11)]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [45]:
for i in range(1,11): 
    for j in range(1,i+1):
        print((i,j),end=" ")        
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)

In [27]:
[(i*j) for i in range(1,11) for j in range(1,i+1)]

[1,
 2,
 4,
 3,
 6,
 9,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 25,
 6,
 12,
 18,
 24,
 30,
 36,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [34]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

print(data[0])
print(data[0][0])

[1, 2, 3]
1

In [35]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]


len(data)

3

In [39]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]


for row in range(len(data)):
    print(data[row], row)

[1, 2, 3] 0
[4, 5, 6] 1
[7, 8, 9] 2

In [40]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]


for row in range(len(data)):
    for col in range(len(data[row])):
        print(data[row][col], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [48]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

for row in data:
    for col in row:
        print(col, end=" ") # child
    print()# parent

1 2 3
4 5 6
7 8 9

In [42]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

[data[row][col]  for row in range(len(data)) for col in range(len(data[row])) ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
10
20


1 x 1 = 1   2 x 1 = 2
1 x 2 = 2   2 x 2 = 4

# Tuple

In [49]:
data = ('a','b','c', 1,2,3)
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [50]:
data = 'a','b','c', 1,2,3
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [52]:
data = 'a','b','c', 1,2,3
print(type(data))
print(data[0])

<class 'tuple'>
a

In [53]:
data = 'a','b','c', 1,2,3
print(type(data))
print(data[0:3])

<class 'tuple'>
('a', 'b', 'c')

In [55]:
data = ('a','b','c', 1,2,3)
print(type(data))
data[0] = "A"

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [78]:
data = ('A','b','c', 1,2,3)
print(type(data))
data

<class 'tuple'>

('A', 'b', 'c', 1, 2, 3)

# tuple not fully imutable

In [82]:
a = ('a','b','c', [1,2])
a[3].append(8)
a[3][0] = 100
a

('a', 'b', 'c', [100, 2, 8])

In [56]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [57]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
(1,2,3) + ('a','b','c')

(1, 2, 3, 'a', 'b', 'c')

In [60]:
(1,2,3) * 4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

# Dictionary
* start `{` and `}`
* item
    * `key`:`value`
        * key = hashable type = int, str, tuple / replacement of index
        * value = any type
        * **:** = seprator between key value
    * **,** between items

In [61]:
#      0=name        1=fathername      2=cnic        3=roll 4=signature
['Muhammad Qasim',"Muhammad Aslam",'42201-7894567-3',11,'abc']
['Muhammad Qasim',"Muhammad Aslam",'42201-7894567-3',11,'abc']
['asif','abid','2222',111,'aaaaaaa']

['asif', 'abid', '2222', 111, 'aaaaaaa']

In [64]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc'
}

data

{'name': 'Muhammad Qasim',
 'father_name': 'Muhammad Aslam',
 'cnic': '42201-7894567-3',
 'roll_no': 11,
 'signature': 'abc'}

In [67]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc'
}

data["roll_no"]

11

In [70]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc',
    100 : 'pakistan'
}

data[100]

'pakistan'

In [75]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc',
    ('aaa'): 'pakistan'
}

data[('aaa')]

'pakistan'

In [77]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc',
    'skills': ['python','R','java', 'typescript']
}

data

{'name': 'Muhammad Qasim',
 'father_name': 'Muhammad Aslam',
 'cnic': '42201-7894567-3',
 'roll_no': 11,
 'signature': 'abc',
 'skills': ['python', 'R', 'java', 'typescript']}

In [68]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# create new dictionary

In [84]:
data = {} #empty dictionary

data['name']

print(data, type(data))

KeyError: 'name'

In [86]:
data = {} #empty dictionary

data['name'] = "Muhammad Qasim"
data['father_name'] = "Muhammad Aslam"

print(data, type(data))

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam'} <class 'dict'>

In [87]:
data = {} #empty dictionary

data['name'] = "Muhammad Qasim"
data['father_name'] = "Muhammad Aslam"


print(data['roll_name'])

KeyError: 'roll_name'

In [88]:
print("line1")
print("line2")

data['roll_number']

print('line3')
print('line4')

line1
line2

KeyError: 'roll_number'

In [96]:
data = {} #empty dictionary

data['name'] = "Muhammad Qasim"
data['father_name'] = "Muhammad Aslam"


print(data.get('name'))
print(data.get("roll_number"))
print(data.get('roll_number','not available'))

Muhammad Qasim
None
not available

In [99]:
print("line1")
print("line2")

print(data.get('roll_number',"Not available"))

print('line3')
print('line4')

line1
line2
Not available
line3
line4

In [100]:
dict.fromkeys(['name','id','father_name','cnic'])

{'name': None, 'id': None, 'father_name': None, 'cnic': None}

In [93]:
200 * 14 * 60 *24

4032000

In [101]:
data

{'name': 'Muhammad Qasim', 'father_name': 'Muhammad Aslam'}

In [102]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc',
}

data.keys()

dict_keys(['name', 'father_name', 'cnic', 'roll_no', 'signature'])

In [103]:
data.values()

dict_values(['Muhammad Qasim', 'Muhammad Aslam', '42201-7894567-3', 11, 'abc'])

In [104]:
data.items()

dict_items([('name', 'Muhammad Qasim'), ('father_name', 'Muhammad Aslam'), ('cnic', '42201-7894567-3'), ('roll_no', 11), ('signature', 'abc')])

In [105]:
a,b = ('aa','bb') # unpack/unzip

print(a)
print(b)

aa
bb

In [107]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc',
}

for k in data.keys():
    print(k)

name
father_name
cnic
roll_no
signature

In [111]:
data = {
    "name":"Muhammad Qasim",
    "father_name": "Muhammad Aslam",
    'cnic': "42201-7894567-3",
    'roll_no': 11,
    'signature' : 'abc',
}

for k in data.keys():
    print(k, "-->", data[k])

name --> Muhammad Qasim
father_name --> Muhammad Aslam
cnic --> 42201-7894567-3
roll_no --> 11
signature --> abc

In [112]:
for k,v in data.items():
    print(k, v)

name Muhammad Qasim
father_name Muhammad Aslam
cnic 42201-7894567-3
roll_no 11
signature abc

In [113]:
data.items()

dict_items([('name', 'Muhammad Qasim'), ('father_name', 'Muhammad Aslam'), ('cnic', '42201-7894567-3'), ('roll_no', 11), ('signature', 'abc')])

In [114]:
data = {
    "a":3,
    "b":2,
    "c":1
}

data

{'a': 3, 'b': 2, 'c': 1}

In [115]:
for d in data:
    print(d)

a
b
c